/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes float {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }

@keyframes width {
  from {
    width: 0; }
  to {
    min-width: 30rem;
    width: 100%; } }

@keyframes bgFill {
  from {
    background-color: #575656; }
  to { } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-size: 25vh 25vh;
  background-image: linear-gradient(to right, #d9d8d8 1px, transparent 1px), linear-gradient(to bottom, #d9d8d8 1px, transparent 1px); }

.container {
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.cursor {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #575656;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 1s infinite alternate; }
  .cursor::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #575656;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: cursorAnim2 .5s infinite alternate; }

.cursor-clicked {
  border: 1px solid red !important; }

@keyframes cursorAnim {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }

@keyframes cursorAnim2 {
  from {
    transform: scale(0.9); }
  to {
    transform: scale(1.1); } }

::selection {
  background-color: #575656;
  color: #fff; }

.mg-btm-mid {
  margin-bottom: 3rem !important; }

.mg-top-mid {
  margin-top: 4rem !important; }

.flex {
  display: flex;
  justify-content: space-evenly; }
  @media (max-width: 850px) {
    .flex {
      flex-direction: column;
      align-items: center; } }

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  width: 80vw;
  position: relative; }
  .nav__icon {
    width: 3rem;
    height: 3rem;
    color: #575656; }
  .nav span {
    font-size: 1.8rem; }
  .nav__link {
    color: #575656;
    text-decoration: none;
    font-weight: 400; }

@keyframes animateRight {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.project-container {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 3 / 10;
  align-content: end;
  grid-gap: 3rem; }
  @media (max-width: 43.125em) {
    .project-container {
      max-width: 30rem; } }
  .project-container .project {
    display: flex;
    justify-content: space-between;
    position: relative; }
    @media (max-width: 850px) {
      .project-container .project {
        flex-direction: column;
        grid-column: 8 / 10;
        align-content: center;
        grid-gap: 3rem; } }
    .project-container .project__info {
      max-width: 33%;
      min-width: 32rem;
      max-height: 66%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      @media (max-width: 850px) {
        .project-container .project__info {
          max-width: 50rem; } }
    .project-container .project__title {
      color: #575656;
      font-size: 5.5rem;
      letter-spacing: 2px;
      position: relative; }
      .project-container .project__title::after {
        content: "";
        position: absolute;
        width: 40%;
        height: 1rem;
        background-color: #b4b3b3;
        bottom: 1rem;
        left: 0;
        z-index: -1; }
    .project-container .project__desc {
      color: #575656;
      font-size: 1.8rem;
      padding: 2rem 2rem 0 0; }
    .project-container .project__link {
      font-size: 3rem;
      text-decoration: none;
      text-align: center;
      background-color: #575656;
      color: #fff;
      padding: 1rem 2rem;
      max-width: 16rem;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); }
    .project-container .project__btns {
      display: flex;
      justify-content: space-evenly;
      margin: 3rem 0; }
    .project-container .project__icon {
      position: relative;
      display: inline-block;
      color: #575656;
      height: 4.5rem;
      width: 4.5rem;
      overflow: hidden;
      border-radius: 50%;
      padding: 1rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transition: background-color 200ms ease-in;
      border: 1px solid #575656; }
      .project-container .project__icon:hover, .project-container .project__icon:focus, .project-container .project__icon:active {
        background-color: #575656;
        color: #fff; }
    .project-container .project .paper-container {
      background-image: url("../../img/wires.svg");
      width: 50vw;
      max-width: 57rem;
      height: 50vh;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
      position: relative; }
      .project-container .project .paper-container__text {
        font-size: 2.6rem;
        color: #575656;
        font-weight: bold;
        text-align: right;
        position: absolute;
        right: .7rem;
        top: 33%; }
      .project-container .project .paper-container .paper {
        position: absolute;
        top: 0;
        left: 0;
        background: url("../../img/vest.png");
        min-width: 50rem;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top; }

.logo-container {
  position: relative;
  height: 100%;
  display: inline-block; }

.logo {
  width: 15rem;
  height: 15rem;
  background-repeat: no-repeat;
  margin: 3rem;
  transform: rotate(0deg); }

#flower {
  position: absolute;
  bottom: 50%;
  left: 50%;
  animation: float 3s infinite ease-in-out; }

.img-box {
  position: relative; }
  .img-box .border {
    border: 4px solid #555555;
    width: 25rem;
    height: 25rem;
    position: absolute;
    bottom: -1.5rem;
    left: 3.5rem;
    z-index: -1; }
    @media (max-width: 37.5em) {
      .img-box .border {
        width: 20rem;
        height: 20rem; } }
  .img-box .sig {
    font-family: 'Great Vibes', cursive;
    font-size: 2.4rem;
    color: #555555;
    position: absolute;
    bottom: -5rem;
    left: 15rem;
    width: 100%; }
    @media (max-width: 43.125em) {
      .img-box .sig {
        left: 12rem; } }
    @media (max-width: 37.5em) {
      .img-box .sig {
        left: 9rem; } }
    @media (max-width: 31.25em) {
      .img-box .sig {
        left: 7rem; } }
    @media (max-width: 25em) {
      .img-box .sig {
        width: 115%; } }

.header-2 {
  margin: 10rem auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #a1a1a1; }
  @media (max-width: 850px) {
    .header-2 {
      flex-direction: column;
      align-items: center;
      margin: 3rem auto; } }
  .header-2 .right {
    width: 40%;
    position: relative; }
    @media (max-width: 850px) {
      .header-2 .right {
        margin-bottom: 8rem; } }
    @media (max-width: 400px) {
      .header-2 .right {
        margin-left: 8%; } }
    .header-2 .right__title {
      font-size: 4rem;
      letter-spacing: 2px;
      font-weight: bold;
      color: #555555;
      position: absolute;
      top: -3rem;
      left: -13rem;
      z-index: 1; }
      @media (max-width: 37.5em) {
        .header-2 .right__title {
          font-size: 3.5rem;
          top: -2rem;
          left: -12rem; } }
      @media (max-width: 400px) {
        .header-2 .right__title {
          font-size: 3rem; } }
    .header-2 .right__text {
      font-size: 1.6rem;
      text-align: right;
      max-width: 15rem;
      position: absolute;
      top: 5rem;
      left: -13rem;
      z-index: 1; }
    .header-2 .right__img {
      width: auto;
      height: 25rem;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
      @media (max-width: 37.5em) {
        .header-2 .right__img {
          height: 20rem; } }
  .header-2 .left {
    width: 20%; }
    @media (max-width: 850px) {
      .header-2 .left {
        width: 60%; } }
    .header-2 .left__link {
      text-decoration: none;
      color: inherit; }
    .header-2 .left__title {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #555555;
      margin-bottom: .5rem;
      position: relative; }
      .header-2 .left__title::before {
        content: "\22B9";
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: -2rem; }
    .header-2 .left__text {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      color: inherit;
      width: 100%; }

.education {
  background-color: #d4d4d4;
  height: auto;
  padding: 5rem 0; }
  @media (max-width: 850px) {
    .education {
      padding: 5rem 0 2rem 0; } }

.exp-box {
  display: flex;
  flex-direction: column;
  max-width: 35rem; }
  @media (max-width: 850px) {
    .exp-box {
      margin-bottom: 4rem; } }

.resume-text {
  font-family: 'Work Sans', sans-serif;
  color: #555555;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 2.5rem;
  line-height: 1.3; }
  .resume-text::before {
    content: "\22B9";
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: -2rem;
    padding-left: 2.5rem; }

.exp {
  height: auto;
  padding: 5rem 0 8rem 0; }
  @media (max-width: 850px) {
    .exp {
      padding: 5rem 0 2rem 0; } }

.link-cont {
  position: relative;
  font-size: 2.4rem;
  text-align: center; }
  .link-cont--left {
    text-align: left;
    padding-left: 2rem; }

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #555555; }

.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0; }

.inner-wrapper {
  position: relative;
  display: inline-block; }

.wrapper-16:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #555555;
  transform: scaleY(0);
  transform-origin: bottom left;
  transition: transform 0.3s; }

.wrapper-16:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #555555;
  transform: scaleY(0);
  transform-origin: top right;
  transition: transform 0.3s; }

.wrapper-16 .hover-16 {
  padding: 10px; }
  .wrapper-16 .hover-16:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #555555;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s; }
  .wrapper-16 .hover-16:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #555555;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s; }

.wrapper-16:hover:before, .wrapper-16:hover:after {
  transform: scaleY(1); }

.wrapper-16:hover .hover-16:before, .wrapper-16:hover .hover-16:after {
  transform: scaleX(1); }

.title {
  font-family: 'Work Sans', sans-serif;
  color: #555555; }
  .title--1 {
    font-size: 3.5rem;
    padding-left: 3rem;
    letter-spacing: 1px;
    margin-bottom: 2rem; }
  .title--2 {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1rem; }
  .title--3 {
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 2rem; }

.social-icons {
  grid-row: 3 / -1;
  grid-column: 2 / 5;
  align-content: end; }
  .social-icons__icon {
    height: 4rem;
    width: 4rem;
    color: #575656;
    margin-right: 2.5rem; }
