$color-primary: pink;
$color-secondary: red;
$grey: #b4b3b3;
$dark-grey: #575656;
$box-shadow: 0 3rem 6rem rgba(#000, .1);


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
