.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  width:80vw;
  position: relative;

  &__icon {
    width: 3rem;
    height: 3rem;
    color: $dark-grey;
  }

  span {
    font-size: 1.8rem;
    //height: 100%;
    //position: absolute;
    //top: 6rem;
    //right: -1rem;
  }

  &__link{
    color: $dark-grey;
    text-decoration: none;
    font-weight: 400;
  }
}

#line1, #line2, #line3 {
  //animation: animateRight .5s ease-in infinite;
}

@keyframes animateRight {
  from {

    opacity: 1;
  }
  to {

    opacity: 0;
  }
}
