@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes width {
  from {
    width: 0;
  }
  to{
    min-width: 30rem;
    width: 100%;
  }
}
@keyframes bgFill {
  from {
    background-color: $dark-grey;
  }
  to{

  }
}
