*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: 'Work Sans', sans-serif;

  min-height: 100vh;
  min-width: 100vw;
  //background: repeating-linear-gradient(90deg, $grey, $grey 1px, #fff 1px, #fff 20vh);

  background-size: 25vh 25vh;
  background-image:
          linear-gradient(to right, $light-grey 1px, transparent 1px),
          linear-gradient(to bottom, $light-grey 1px, transparent 1px);

  //cursor: url("../../img/flower.png"), auto;
  //cursor: none;
}

.container {
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;

  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  //grid-template-columns: repeat(8, 1fr);

  //@media only screen and (max-width: $bp-large) {
  //  grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  //  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  //}
  //
  //@media only screen and (max-width: $bp-medium) {
  //  grid-template-rows: 6rem calc(100vh - 6rem);
  //}
}



.cursor {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid $dark-grey;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  //z-index: 100;
  animation: cursorAnim 1s infinite alternate;

  &::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $dark-grey;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: cursorAnim2 .5s infinite alternate;
  }
}

.cursor-clicked {
  border: 1px solid red !important;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(.9);
  }
  to {
    transform: scale(1.1);
  }
}

a:hover {
  //cursor: pointer;
}

::selection {
  background-color: $dark-grey;
  color: #fff;
}
